.bg-ellipse {
    background-image: url(images/Ellipse\ 6.png);
}

.bg-img {
    background-image: url(images/SandMill.png);
    background-size: cover;
}




/* AirBnB-Light */

@font-face {
    font-family: 'AirBnB-light';
    src: url(./fonts/AirbnbCereal_W_Lt.otf);
  }

/* AirBnB-Medium */

@font-face {
    font-family: 'AirBnB-Medium';
    src: url(./fonts/AirbnbCereal_W_Md.otf);
  }

/* AirBnB-Bold */

@font-face {
    font-family: 'AirBnB-Bold';
    src: url(./fonts/AirbnbCereal_W_Bd.otf);
  }

/* AirBnB-ExtraBold */

@font-face {
    font-family: 'AirBnB-ExtraBold';
    src: url(./fonts/AirbnbCereal_W_XBd.otf);
  }

/* AirBnB-Black */

@font-face {
    font-family: 'AirBnB-Black';
    src: url(./fonts/AirbnbCereal_W_Blk.otf);
  }

/* AirBnB-Normal */

@font-face {
    font-family: 'AirBnB-Normal';
    src: url(./fonts/AirbnbCereal_W_Bk.otf);
  }